/*
    Table of Contents:
    Layout:
        General
        Header
        Content
        Footer
    Colors:
        General
        Header
        Content
        Footer
*/

/*Layout*/

/*General*/

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Header*/

.navbar-header img{
    margin:5px auto 5px auto;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}




/* Colors*/

.navbar.navbar-inverse.navbar-fixed-top{
    background-color:#ffffff;
}


.navbar-inverse .navbar-toggle .icon-bar{
    background-color: #8c2232;
}