/*
    Table of Contents:
    Layout:
        General
        Header
        Content
        Footer
    Colors:
        General
        Header
        Content
        Footer
*/

/*Layout*/

/*General*/

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Header*/

.navbar-header img{
    margin:5px auto 5px auto;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}




/* Colors*/

.navbar.navbar-inverse.navbar-fixed-top{
    background-color:#ffffff;
}


.navbar-inverse .navbar-toggle .icon-bar{
    background-color: #8c2232;
}


.card-triumph {
    height: 200px;
    width: 400px;
    background-color: #ff00ff;
}

.card-backdrop {
    background-color: #8c2133;
    height: 100%;
    width: 100%;
    position: relative;
}

    .card-backdrop > h4 {
        transform: rotate(-90deg);
        color: #ffffff;
        position: absolute;
        top: 40%;
    }

.inner-card {
    background-color: #ffffff;
    height: 198px;
    width: 364px;
    position: absolute;
    left: 35px;
    top: 1px;
}

.pie {
    background-color: #008000;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: linear-gradient(to right, transparent 50%, #655 0);
}

    .pie:before {
        content: '';
        display: block;
        margin-left: 50%;
        height: 100px;
        border-radius: 0 100% 100% 0 / 50%;
        background-color: inherit;
        transform-origin: left;
        transform: rotate(120.7deg);
    }

