@model IEnumerable<Autho.Models.Ship>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>name</th>
            <th>CaptainName</th>
            <th>NumCannons</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>name</th>
            <th>CaptainName</th>
            <th>NumCannons</th>
        </tr>
    </tfoot>
</table>

<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "@Url.Action("GetJason", "ShipSummary")",
                "type": "POST"
            },
            "columns": [
                { "data": "name" },
                { "data": "CaptainName" },
                { "data": "NumCannons" },
 
            ],
            "createdRow": function (row, data, dataIndex) {
                $(row).dblclick(function () {
                    console.log(data);
                });
            },
            "rowCallback": function (row, data, index) {
                if ((index + 1) % 2 == 0) {
                    console.log($(row).children("td:first").html("goose"));
                }
            }

        });
    });
</script>
