

<div class="card-triumph">
    <div class="card-backdrop">
        <h4>Hello</h4>
        <div class="inner-card">
            <div class="percent-complete">
                <h4>86.4%</h4>
                <div class="pie"></div>
            </div>
            <div class="ship-progress">
                <div class="hours">
                    <h5>Hours</h5>
                    <p>Total:500 Remaining: 400</p>
                </div>
                <div class="workbooks">
                    <h5>Workbooks</h5>
                    <p>Total:300 Open: 50 Closed:250</p>
                </div>
            </div>

        </div>
    </div>
</div>

<style>
    .pie:before {
        transform:rotate(86.4deg)
    }
</style>



