@using Autho.Services
@{
    ViewBag.Title = "Home Page";
    NullWeb webby = null;
    webby = new NullWeb();
    webby.NullGuy = new StNull();
    webby.NullGuy.DatString = "Yearrr";
    webby = null;
}

<h1>Right Here ~O @(webby?.NullGuy.DatString) O~ </h1>



