@model Autho.Models.SplatterPark

@{
    ViewBag.Title = "ShipMain";
}


<h2>ShipMain</h2>

@*@Html.RadioButtonFor(m => m.SplatCount,3,null)
@Html.LabelFor(m =>m.SplatCount,"Splat")*@
@Html.TextBoxFor(m => m.SplatSoundDescription,"Dude")


